@model List<Place>
@using Makaan.MVC.Models
@{
    Layout = "_AppLayout";
    var searchPlace = new Place();
    Pager pager = new Pager();
    int pageNumber = 0;
    if (ViewBag.Pager is not null)
    {
        pager = ViewBag.Pager;
        pageNumber = pager.CurrentPage;
    }
}



<partial name="_SearchPartial" model="@searchPlace" />

<div class="container-xxl py-5">
    <div class="container">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">

                    @foreach (var place in Model)
                    {

                        <partial name="_CardPartial" model="@place" />
                    }
                    @* try infinte scroll *@
                    @* <div class="col-12 text-center">
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                    </div> *@
                </div>
            </div>

        </div>
    </div>
</div>

<partial name="_PagerPartial" model="@pager" />