@model Place
@using Makaan.MVC.Models.Enums


<!-- Search Start -->
<div class="container-fluid bg-primary mb-5" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row g-2">
            <form method="get" class="d-flex">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <input name="searchTerm" type="text" class="form-control border-0 py-3" placeholder="Search Keyword">
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0 py-3" name="ty" id="ty">
                                <option selected>Select Type</option>
                                @foreach (var type in Enum.GetValues(typeof(PlaceType)))
                                {
                                    <option value="@type">@type</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0 py-3" name="st" id="st">
                                <option selected>Select Status</option>
                                @foreach (var status in Enum.GetValues(typeof(PlaceStatus)))
                                {
                                    <option value="@status">@status</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-dark border-0 w-100 py-3">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Search End -->